body{
    height:3000px;
}
/*STRAT SECTION ONE*/
.backimg
{
    height:600px;
    width:100%;
    background-image: url('../images/back.jpg');
    background-size: cover;
    background-attachment: fixed;
    
}
.nav
{
  
    height:70px;
    
}
.nav-1
{
    width:400px;
    height:70px;
   
    float:left;
}
.nav-2
{
    width:600px;
    height:70px;
    
    float:right;
}
.nav-1 .logo
{
    width:70px;
    height:70px;
    border-radius:100%;
    margin-left:20px;
    margin-top:5px;
    float:left;
}
.nav-1 .head
{
    float: left;
    margin-left:18px;
    color:#fff;
    margin-top:-4px;
}

.head p{
    font-size: 30px;  
}
.nav-2 div
{
    width:115px;
    height:70px;
    margin-top:15px;
    float:left;
    margin-left:5px;
    font-size:22px;
    text-align: center;
    color:#fff;   
    font-weight: bold;
}
.nav-2 div:hover
{
background-color:rgb(190, 184, 184);
}
.nav-2 p
{
    margin-top:20px;
}


.cent .p1{
    color:#fff;
    font-size:40px;
}
.cent
{
    text-align:center;
    margin-top:150px;
}
.cent .p2
{
    color:#fff;
    font-size:25px;
}
.p1 span{
    font-size:45px;
    font-weight: bolder;
}
.blu{
    width:100px;
    height:40px;
    background-color: rgb(114, 114, 224);
    border:1px solid rgb(114, 114, 224);
    font-weight:bold;
}
.red
{
    width:100px;
    height:40px;
    background-color: rgb(224, 50, 50);
    border:1px solid rgb(224, 50, 50);
    font-weight:bold;
}
.red:hover{
    background-color:rgb(190, 184, 184);
    border:1px solid rgb(190, 184, 184);
}
.blu:hover{
    background-color:rgb(190, 184, 184);
    border:1px solid rgb(190, 184, 184);
}
/*END SECTION ONE*/
/****************************************************************************************************/
/*start section 2*/
.section2 .cont{
    width:100%;
    height: 400px;
    background-color:rgb(223, 223, 223);
    border:0.5px solid rgb(223, 223, 223);
}
.section2 .cont .cont2{
    width:90%;
    height: 350px;
    margin-left:65px;
    margin-top:0;
}
.section2 .cont .cont2 .div1,
.section2 .cont .cont2 .div2,
.section2 .cont .cont2 .div3{
    width:32%;
    height: 350px;
    float:left;
    text-align: center;
}
.section2 .cont .cont2 .div2{
    margin-left:21px;
}
.section2 .cont .cont2 .div2{
    margin-right:21px;
}
.section2 .cont .cont2 .div1 .fas,
.section2 .cont .cont2 .div2 .fa,
.section2 .cont .cont2 .div3 .far{
   font-size:35px;
   color:rgb(73, 72, 72); 
   margin-top: 35px; 
}
.section2 .cont .cont2 .div1 h1,
.section2 .cont .cont2 .div2 h1,
.section2 .cont .cont2 .div3 h1{
   font-size:30px;
   color:rgb(37, 37, 37); 
   margin-top: 20px; 
}
.section2 .cont .cont2 .div1 p,
.section2 .cont .cont2 .div2 p,
.section2 .cont .cont2 .div3 p{
   font-size:20px;
   color:rgb(73, 73, 73); 
   margin-top: 20px; 
}

/* end section 2*/
/*********************************************************************************************/
/*start section 3*/
.section3 .bigcont{
    width:100%;
    height: 500px;
    background-image: url("../images/pexels-buro-millennial-1438072.jpg");
    background-attachment: fixed;
    border:0.5px solid rgb(255, 255, 255);
    margin-top:0px;
}
.section3 .bigcont .overlay{
    width:40%;
    height:100%;
    float: right;
    margin-right: 65px;  
    top:0;
    left:0;  
    background-color: rgba(141, 206, 250, 0.5);
}
.section3 .bigcont .overlay h1{
    font-size:30px;
    color:rgb(241, 241, 241); 
    margin-top: 20px;
    text-transform: capitalize;
    font-weight: bold;
}
.section3 .bigcont .overlay h3{
    font-size:20px;
    color:rgb(241, 241, 241); 
    margin-top: 20px;
}

.section3 .bigcont .overlay p{
    font-size:18px;
    color:rgb(241, 241, 241); 
    margin-top: 20px;
    line-height: 2em;
}
.section3 .bigcont .overlay .num1,
.section3 .bigcont .overlay .num2
{
  width:180px;
  height:120px;
  border:1px solid white;
  float:left;
  margin-top:30px;
  text-align: center;
}
.section3 .bigcont .overlay .num2{
    float: right;
}
.section3 .bigcont .overlay .container{
    width:85%;
    height: 450px; 
    margin-left: 40px;
    margin-top:30px;
}
/*end  section 3*/
/************************************************************************************************/
/*Start Section4*/
.section4
{
height:520px;
margin-top:20px;
}
.cont4
{
    width:90%;
    margin-left:65px;
}
.part1
{
    float:left;
    width:700px;
    margin-top:50px;
    margin-left:70px;
    color:rgb(2, 5, 49)
}
.part1 p{
    line-height: 1.5em;
}
.part2
{
    float:right;
    margin-right:70px;
   
}
.part2 img
{
    margin-top:50px;
  
    height:400px;
    width:450px;
    margin-left:9px;
}
.take
{
    width:150px;
    height:40px;
    background-color: rgb(218, 29, 29);
    border:1px solid rgb(218, 29, 29);
    font-size:15px;
    color:#fff;
}
.take:hover
{
    background-color:rgb(190, 184, 184);
    border:1px solid rgb(190, 184, 184);
}
/*End Section4*/
/***************************************************************************************/
/*start section 5*/
.section5 .bigcontainer{
    width:100%;
    height: 500px;
    background-image: url("../images/pexels-donald-tong-23475.jpg");
    background-attachment: fixed;
    border:0.5px solid rgb(255, 255, 255);
    margin-top:20px;
}
.section5 .bigcontainer .overlay{
    width:40%;
    height:100%;
    float: left;
    margin-left: 65px;  
    top:0;
    left:0;  
    background-color: rgba(141, 206, 250, 0.5);
}
.section5 .bigcontainer .overlay h1{
    font-size:30px;
    color:rgb(241, 241, 241); 
    margin-top: 20px;
    text-transform: capitalize;
    font-weight: bold;
}
.section5 .bigcontainer .overlay h2{
    font-size:20px;
    color:rgb(241, 241, 241); 
    margin-top: 20px;
}

.section5 .bigcontainer .overlay p{
    font-size:18px;
    color:rgb(241, 241, 241); 
    margin-top: 20px;
    line-height: 1.5em;
}
.section5 .bigcontainer .overlay .num1,
.section5 .bigcontainer .overlay .num2
{
  width:180px;
  height:120px;
  border:1px solid white;
  float:left;
  margin-top:30px;
  text-align: center;
}
.section5 .bigcontainer .overlay .num2{
    float: right;
}
.section5 .bigcontainer .overlay .container{
    width:85%;
    height: 450px; 
    margin-left: 40px;
    margin-top:30px;
}
/*end section 5*/
/****************************************************************************************/
/*Start Section 6*/
.section6 .sec6{
    width:100%;
    height:990px;
  
}
 .cont6
{
width:90%;
margin-left:65px;
background-color:#DDD;

height:990px;
}
.section6 .sec6  .cont6 .left
{
    width:70%;
    
    height:920px;
   
    margin-top:35px;
    float:left;
}
.left .top-left
{

width:940px;
height:350px;
margin-bottom:10px;
}
.left .center-left
{

width:940px;
height:420px;
}
.left .center-left .part-left
{
   
    width:470px;
    height:420px; 
    float:left; 
}
.left .center-left .part-right
{
    
    width:460px;
    height:420px;  
    float:right;
}
.left .center-left .part-right .part-top
{
    width:460px;
    height:245px;
  
    margin-bottom: 10px;
}
.left .center-left .part-right .part-down
{
    width:460px;
    height:165px;
    
}
.left .down-left
{
    width:940px;
    height:131px;
    margin-top:10px;
    
}
/************************************************/
.section6 .sec6  .cont6 .right
{
    width:29.5%;
   
    float:left;
    height:920px;
   
    margin-top:35px;
}

.down-right img
{
width:400px;
height:216px;
}
.top-right img{
    width:400px;
    height:700px;
}
/*End Section 6*/
/**********************************************************************************************/
/*start section 7*/
.section7 .bigconta{
    width:100%;
    height: 150px;
    background-color: white;
    border:0.5px solid rgb(255, 255, 255);
 }
 .section7 .bigconta .cont2{
    width:90%;
    height: 100px;
    margin-left:65px;
    margin-top:25px;
 }
 .section7 .bigconta .cont2 .logo1,
 .section7 .bigconta .cont2 .logo2,
 .section7 .bigconta .cont2 .logo3,
 .section7 .bigconta .cont2 .logo4,
 .section7 .bigconta .cont2 .logo5,
 .section7 .bigconta .cont2 .logo6{
    width:15%;
    height: 100px;
    float:left; 
 }
 .section7 .bigconta .cont2 .logo2,
 .section7 .bigconta .cont2 .logo3,
 .section7 .bigconta .cont2 .logo4,
 .section7 .bigconta .cont2 .logo5,
 .section7 .bigconta .cont2 .logo6{
     margin-left:23.5px;
     text-align: center;
 }
 .section7 .bigconta .cont2 .logo1 img,
 .section7 .bigconta .cont2 .logo2 img,
 .section7 .bigconta .cont2 .logo3 img,
 .section7 .bigconta .cont2 .logo4 img,
 .section7 .bigconta .cont2 .logo5 img,
 .section7 .bigconta .cont2 .logo6 img
 {
     width:80%;
     height: 70px;
     margin-top:45px;
 }
/*end section 7*/
/************************************************************************************************/
.section8
{
    width:100%;
    height:420px;
   
    margin-top:50px;
}
.section8 .largecontainer
{
    width:100%;
    height:420px;
   
    background-image: url('../images/sec8.jpg');
    background-size:cover;
    background-attachment: fixed;
    
}
.section8 .largecontainer .overlay
{
    width:100%;
    height:420px;
    top:0;
    left:0;
    background: rgba(2, 2, 2,0.5);
    border:1px solid  rgba(248, 247, 247, 0.911);
}
.container .include{
width:600px;
height:100px;

margin-top:40px;
margin-left:50px;
}
.container .include2{
    width:900px;
    height:120px;
    
    margin-left:50px;
    }
.include h1
{
color:#fff;
}
.include2 p
{
    color:#fff;
    line-height: 2em;
}
input 
{
    margin-left:50px;
    width:250px;
}
button.sb
{
    margin-left:50px;
    margin-top:20px;
    background-color:rgb(230, 59, 59);
    color:#fff;
    height:40px;
    border:1px solid rgb(230, 59, 59);
}
/**************************************************************************************/
/*start section 9*/

.section9 .cont3{
    width:100%;
    height: 150px;
    background-color: rgb(21, 24, 22);
    border:0.5px solid rgb(255, 255, 255);
}
.section9 .cont3 .conta3{
    width:90%;
    height: 100px;
    margin-left:65px;
    margin-top:0px;
}
.section9 .cont3 .conta3 .text{
    float:left;
}
.section9 .cont3 .conta3 .text h1{
    margin-left:10px;
    color:rgb(241, 241, 241);
    font-size:30px;
    margin-bottom: 0;
   
}
.section9 .cont3 .conta3 .text p{
    font-size:20px;
    color:rgb(241, 241, 241);
    
}
.section9 .cont3 .conta3 .text p a{
    text-decoration: none;
    color:rgb(12, 53, 129);
}
.section9 .cont3 .conta3 .text p a:hover{
    color:red;
}

.section9 .cont3 .conta3 .fa {
    padding: 13px;
    font-size: 15px;
    width: 13px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    margin: 30px 2px;
    float: right;
  }
  
  .section9 .cont3 .conta3  .fa:hover {
      opacity: 0.7;
  }
  
  .section9 .cont3 .conta3 .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .section9 .cont3 .conta3 .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .section9 .cont3 .conta3 .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .section9 .cont3 .conta3 .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .section9 .cont3 .conta3 .fa-youtube {
    background: #bb0000;
    color: white;
  }
/*end section 9*/

